.CastCrewFullList {
    background-color: white;
    color: black;
    padding: 10px 0 0 10px;
    
    button{
        background-color: orange;
        border: none;
        // margin:20px;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
    }

    .container {
        display: flex;
        margin: 20px 15px;

        .castColumn {
            span{
                font-weight: 600;
                margin: 20px;
            }
            li {
                display: flex;
                align-items: center;
                margin: 10px;
                gap: 10px;
                cursor: pointer;
                img {
                    border-radius: 10px;
                }
                .actorName{
                 font-weight: 600;
                }
               .actorJob{
                font-size: 12px;
                font-style: italic;
               }
            }
        }

        .crewColumn{
            span{
                font-weight: 600;
                margin: 20px;
            }
            li {
                margin: 20px;
                .stuffName {
                    font-size: 16px;
                }
                .stuffJob{
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }
}